[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "benchmark/matplotplusplus"]
	path = benchmark/matplotplusplus
	url = https://github.com/alandefreitas/matplotplusplus/
